/*
* 
* @author Weslen Gomes
*/

/*********Layout**********/
html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

header{
    background: #ff6600ff;
    text-align: center;
}

#home{
    background: url(../img/capa.jpg);
    background-attachment: fixed;
    width: 100%;    
}

#promocao-img{
    width: 100%;
    background-repeat: no-repeat;
}

.promo-regras{
    text-align: center;
}

.secao{
    background: url(../img/mulher-min.jpg);
    background-attachment: fixed;
}

.contato{
    background: url(../img/contato.jpg);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
}


body{
    font-family: Helvetica, Arial, sans-serif;
}

/*********Barra de Navegação**********/
nav.navbar-transparente{
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.9);
}

nav.navbar-light .navbar-nav .nav-link{
    color: white;
} 
nav.navbar-light .navbar-nav .nav-link:hover{
    color: #ff6600ff;
}

nav.navbar-light .navbar-toggler{
    color: #ff6600ff;;
    border-color: white;
}

/*************Botoões****************/
.botao-customizado{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 20px;
}

.botao-laranja{
    color: white;  
}

.botao-laranja:hover{
    background-color:#ff6600ff;
    color: #fff;
}

.capa{
    text-align: center;
}

.btn-espaco{
    margin-bottom: 20px;
}


/**************Tipografia***************/
h1{
    color: white;
    text-align: center;
}

h2{
    text-align: center;
    color: #ff6600ff;
    padding-top: 35px;
    padding-bottom: 20px;
}
p{
    padding: 1px;
    text-align: center;   
}
.branco{
    color: white;
}

/**************Listas*******************/
div ul{
    list-style: none;
}

div ul li{
    float: right;
    margin: 0 10px;
}
/**************Rodapé*******************/
footer{
    background: #ff6600ff;
    padding: 15px 0px 8px 0px;
    position: relative;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 8px; 
}

/*******Formulario********/
.centralizar-rede-social{
  margin: 0 auto;
  padding-left: 28%;
}