/*
* 
* @author Weslen Gomes
*/

/*********Layout**********/
html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

#home{
    background: url(../img/capa-min.jpg);
    background-attachment: fixed;
    width: 100%;    
}

.secao{
    background: url(../img/mulher-min.jpg);
    background-attachment: fixed;
}

.contato{
    background: url(../img/contato.jpg);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
}


body{
    font-family: Helvetica, Arial, sans-serif;
}

/*********Barra de Navegação**********/
nav.navbar-transparente{
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.8);
}

nav.navbar-light .navbar-nav .nav-link{
    color: white;
} 
nav.navbar-light .navbar-nav .nav-link:hover{
    color: #ff6600ff;
}


/*************Botoões****************/
.botao-customizado{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    padding: 10px 20px;
}
/*
.botao-laranja{
    border: 2px solid #ff6600ff;  
}

.botao-laranja:hover{
    background-color:#ff6600ff;
    color: #fff;
}
*/
.capa{
    text-align: center;
}

/**************Tipografia***************/
h1{
    color: white;
    text-align: center;
}

h2{
    text-align: center;
    color: #ff6600ff;
    padding-top: 35px;
    padding-bottom: 20px;
}
p{
    padding-top: 20px 1px 10px 1px;
    text-align: center;   
}
.branco{
    color: white;
}

/**************Formulario****************/
