/*
* 
* @author Weslen Gomes
*/

/*********Layout**********/
html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

header{
    text-align: center;
}


body{
    font-family: 'Philosopher', sans-serif;
}

h2{
    color: #daa520;
    text-align: center;
    padding: 50px 10px 20px 10px;
}

section{
    padding: 10px 0 20px 0;
}

.fundo{
    background: url(../img/capa.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 520px;
    background-repeat: repeat-x;
    overflow-y: hidden;
}

.sobre-fundo{
    background: url(../img/sobre.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 520px;
    background-repeat: repeat-x;
    overflow-y: hidden;
}

.devocional-fundo{
    background: url(../img/devocional.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 520px;
    background-repeat: repeat-x;
    overflow-y: hidden;
}

.fundo h1, .sobre-fundo h1, .devocional-fundo h1{
    font-size: 6em;
    text-align: center;
    color: #daa520;
}

.fundo h3, .sobre-fundo h3, .devocional-fundo h3{
    text-align: center;
    color: white;
}

.fundo h4, .sobre-fundo h4, .devocional-fundo h4{
    text-align: center;
    color: white;
}

.fundo p, .sobre-fundo p, .devocional-fundo p{
    color: white;
    text-align: center;
    font-size: 1.4em;
}

.centralizar{
    padding: 170px;
}

.top-links {
    background: #daa520;
    height: 40px;
    color: black;
}
.top-links ul li a{
    color: black;
    text-decoration: none;
}

.top-links ul li a:hover{
    color: black;
    text-decoration: none;
}

.preto{
    color: black;
}

.maiscula{
    text-transform: uppercase;
    padding: 60px 0 10px 0;
    text-align: center;
}

/**************Listas links*******************/
.top-links div ul{
    list-style: none;
}

.top-links div ul li{
    float: left;
    margin: 8px 5px;
}

/*********Barra de Navegação**********/
nav.navbar-transparente{
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.9);
}

nav.navbar-light .navbar-nav .nav-link{
    color: #daa520;
    font-weight: 700;
} 
nav.navbar-light .navbar-nav .nav-link:hover{
    color: #b8860b;
    font-style: italic;
}

nav.navbar-light .navbar-toggler{
    color: #daa520;
    border-color: white;
}


/*******Formulario********/
.centralizar-rede-social{
    margin: 0 auto;
    padding-left: 28%;
}

/********Rodapé*********/
footer{
    background-color: #daa520;
    padding: 5px 0;
    text-align: center;
}

.vertical{
    padding-top: 26px;
}

footer p a{
    color: black;
    text-decoration: none;
}

footer p a:hover{
    color: black;
    text-decoration: none;
}